body {
  font-family: 'Readex Pro', sans-serif;
  font-size: 60px;
}
#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(46, 156, 206);
  background: linear-gradient(90deg, rgba(46, 156, 206, 1) 0%, rgba(74, 166, 212, 1) 100%);
}

/* HOMESCREEN COMPONENT */
img {
  margin-bottom: 50px;
}

.home-component-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  width: 90%;
}

.home-options {
  background: rgb(89, 227, 204);
  background: linear-gradient(75deg, rgba(89, 227, 204, 0.612) 24%, rgba(45, 220, 191, 0.578) 80%);
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #999;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.helper-text {
  font-size: 50px;
  text-align: center;
  padding-top: 33px;
  width: 98%;
}

.create-new-session {
  text-align: center;
  width: 70%;
  border: 1px solid #999;
  border-radius: 30px;
  background-color: #2ddcbf;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  margin-top: 20%;
}

.join-session-wrapper {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 20%;
}

.join-session-wrapper input {
  font-size: 40px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 10px;
  border-radius: 10px;
  width: 57%;
}

.join-button {
  text-align: center;
  width: 35%;
  border: 1px solid #999;
  border-radius: 30px;
  background-color: #2ddcbf;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
}

/* SESSION COMPONENT (WAITING FOR PARTNER) */
.waiting-for-partner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  width: 90%;
}

.room-code-header {
  background: rgb(89, 227, 204);
  background: linear-gradient(75deg, rgba(89, 227, 204, 0.612) 24%, rgba(45, 220, 191, 0.578) 80%);
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #999;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.room-code-text {
  text-align: center;
}

.back-button {
  text-align: center;
  width: 70%;
  border: 1px solid #999;
  border-radius: 30px;
  background-color: #2ddcbf;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
}

/* LOADING SPINNER*/
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 150px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
      -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
      -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
      -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em,
      -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0,
      -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0,
      -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0,
      -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0,
      -2em -2em 0 0.2em;
  }
}

/* SESSION COMPONENT (SESSION IN PROGRESS) */
.session-container {
  height: 95%;
  width: 93%;
}

/* SESSIONHEADER COMPONENT */
.session-header {
  text-align: center;
  background-color: #2ddcbf;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
  border: 1px solid #999;
  border-radius: 30px;
  width: 90%;
  margin-left: 5%;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #999;
}
.marked {
  background-color: #ef6224;
}

/* MOVIE CARD COMPONENT*/

.movie-card-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster {
  height: 800px;
  width: 562px;
  border: 1px transparent;
  border-radius: 35px;
}

.movie-information-wrapper {
  text-align: center;
  height: 50%;
  border: 1px solid #999;
  border-radius: 30px;
  background-color: #2dcbdc;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px 0px 40px 0px;
  font-size: 45px;
}

.movie-title {
  text-align: center;
  font-size: 70px;
}

.movie-desc {
  width: 90%;
  margin-left: 5%;
}

.pick-movie-buttons-wrapper {
  margin-top: 20px;
  width: 90%;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}

.thumbs-up {
  height: 300px;
}

.thumbs-down {
  height: 300px;
}

/* MATCHED MOVIES */

.matched-movies-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  border: 1px solid #999;
  border-radius: 80px;
  background: linear-gradient(75deg, rgba(89, 227, 204, 0.612) 24%, rgba(45, 220, 191, 0.578) 80%);
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  padding: 40px 30px 40px 30px;
}

.matched-movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  width: 75%;
  border: 1px solid #999;
  border-radius: 45px;
  background-color: #607d8b;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
